<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">

    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Parameters Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Parameters Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/hr">Parameters Home</a></li>
                    <li><i class="fa fa-square-o"></i>Parameters Home</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Payroll</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/payroll/payrolls" class="btn btn-primary">Manage Payrolls</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Pay Level</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/payroll/payLevels" class="btn btn-primary">Manage Pay Levels</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Pay Slips</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/payroll/paySlips" class="btn btn-primary">Manage PayS lips</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
